{% extends 'app/main.html' %}
{% block content %}

<div class="container mt-5">
  <h1 class="display-4">Add product:</h1>
  <hr>
      <form action="" method="post">
          {%csrf_token%}
          <table class="table">
              {{form}}
          </table>
          <button class="btn btn-block btn-outline-primary w-100 " type="submit">Submit</button>
      </form
</div>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add products</button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
      </div>
    </div>
  </div>

</div> -->

{% endblock %}