<div class="container p-3 mt-4 mx-auto">
<div class="row">
	<div class="col">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Products</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ count }}</h3>
			  	</div>
		</div>
	</div>

	<!-- <div class="col">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Money</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">10,000</h3>
			  	</div>
			</div>
	</div> -->

	<div class="col">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Pending Bills</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ not_paid }}</h3>
			  	</div>
			</div>
		</div>
</div>
</div>